@keyframes animation1{
  from{background-color: aqua; margin-left: 30px;}
  to{background-color: lightcoral; margin-right:150px; }
  
}


body {
  /*background-color: #000000;*/
  animation-name: animation1;
  animation-duration: 30s;
  animation-delay: -2s;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color:black;
 
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color:red;
}
